html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  min-height: 100vh;
}
:root {
  --reach-tabs: 1;
  --reach-menu-button: 1;
}
div {
  display: block;
}

/*a b c*/
.a {
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.b {
  font-weight: 400;
}
.c {
  background-color: rgba(255, 255, 255, 1);
}

.d {
    display: none;
}
/*
.e {
  display: block;
}
.f {
  display: inline-block;
}


    -webkit-text-size-adjust: 100%;
    --reach-tabs: 1;
    --reach-menu-button: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    box-sizing: inherit;
    display: none;
*/

.ag {
    border-bottom: 1px solid #242424;
}
.ah {
    display: block;
}
.ai {
    background: #FFC017;
}

.ar {
  transition: background-color 300ms linear;
}
.aq {
  right: 0;
}
.ap {
  left: 0;
}
.ao {
  top: 0;
}
.an {
  position: fixed;
}
.am {
  border-bottom: solid 1px #242424;
}
.al {
  width: 100%;
}
.ak {
  background-color: #ffc017;
}
.aj {
  z-index: 10;
}

.n {
    display: flex;
}
.p {
    justify-content: center;
}

.ax {
    margin: 0 64px;
}
.az {
    min-width: 0;
}
.ay {
    max-width: 1192px;
}
.al {
    width: 100%;
}

.bc {
    flex-direction: row;
}
.bb {
    height: 75px;
}
.ba {
    padding: 25px 0;
}
.n {
    display: flex;
}

.ah {
    display: block;
}

a, button, input {
    -webkit-tap-highlight-color: transparent;
}
a {
    color: inherit;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.bm {
    cursor: pointer;
}
.bl {
    margin: 0;
}
.bk {
    padding: 0;
}
.bj {
    font-weight: inherit;
}
.bi {
    letter-spacing: inherit;
}
.bh {
    font-family: inherit;
}
.bg {
    border: inherit;
}
.bf {
    font-size: inherit;
}
.be {
    fill: inherit;
}
.bd {
    color: inherit;
}

/*SVG*/
.bs {
    fill: rgba(0, 0, 0, 1);
}
.q {
    height: 25px;
}
img, svg {
    vertical-align: middle;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.bt {
    flex: 1 0 auto;
}
.ah {
    display: block;
}

.o {
    align-items: center;
}

.bw {
    display: inline-block;
}
.ah {
    display: block;
}

.bx {
    margin-right: 25px;
}

.cb {
    color: #242424;
}
.ca {
    line-height: 20px;
}
.bz {
    font-size: 14px;
}
.by {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bm {
    cursor: pointer;
}
.bl {
    margin: 0;
}
.bk {
    padding: 0;
}

/*
-webkit-text-size-adjust: 100%;
--reach-tabs: 1;
--reach-menu-button: 1;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
color: rgba(0,0,0,0.8);
font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-weight: 400;
box-sizing: inherit;
z-index: 10;
background-color: #FFC017;
width: 100%;
border-bottom: solid 1px #242424;
position: fixed;
top: 0;
left: 0;
right: 0;
transition: background-color 300ms linear;*/

/*
-webkit-text-size-adjust: 100%;
--reach-tabs: 1;
--reach-menu-button: 1;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
color: rgba(0,0,0,0.8);
font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
font-weight: 400;
box-sizing: inherit;
display: block;
height: 75px;*/
